.contact {
  background-color: var(--background-secondary);
  padding: 2rem;
  margin-top: 8.125rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-content: center;
}

.email {
  color: var(--main-primary);
  font-weight: 500;
  font-size: clamp(0.5625rem, 0.2001rem + 1.8121vw, 2.25rem);
  word-break: break-all;
}

.contact > a > *,
.contact > * > a {
  margin-top: 2rem;
  cursor: pointer;
}

.socialMedias {
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.socialMedia {
  width: 50px;
}
