.frameworks {
  margin-top: 2.75rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.h2 {
  margin-top: 8.125rem;
}

svg {
  max-width: clamp(1.5625rem, 0.1531rem + 7.047vw, 8.125rem);
}

.logos {
  max-width: 70%;
  filter: opacity(0.8);
}
