@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

::-webkit-scrollbar {
  width: 9px;
}

::-webkit-scrollbar-track {
  background: var(--background-secondary);
}

::-webkit-scrollbar-thumb {
  background: #a7a7b0;
  border-radius: 5px;
}

:root {
  --main-primary: #34a1cd;
  --main-secondary: #130f49;
  --main-tertiary: #d9d9e2;
  --background-secondary: #f5f6ff;
  --background-primary: #ffffff;
}

* {
  box-sizing: border-box;
}

a {
  all: unset;
}

body {
  margin: 0;
  font-family: "DM Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  justify-content: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2,
h3,
p {
  margin: 0;
  word-wrap: break-word;
}

h1 {
  font-size: clamp(1.5rem, 0.8826rem + 3.0872vw, 4.375rem);
  font-weight: 800;
  line-height: 1.1;
  color: var(--main-primary);
}

h2 {
  font-size: clamp(1.25rem, 0.7131rem + 2.6846vw, 3.75rem);
  font-weight: 500;
  color: var(--main-secondary);
  text-align: center;
}

h3 {
  font-size: clamp(1.125rem, 0.8834rem + 1.2081vw, 2.25rem);
  font-weight: 600;
  color: #a7a7b0;
}

sub {
  font-size: clamp(0.5rem, 0.0294rem + 2.3529vw, 1.5rem);
  font-weight: 500;
  color: var(--main-secondary);
}

.subtitle {
  font-size: clamp(0.875rem, 0.7408rem + 0.6711vw, 1.5rem);
  font-weight: 500;
}

p {
  font-size: clamp(0.5625rem, 0.4417rem + 0.604vw, 1.125rem);
  font-weight: 400;
  color: var(--main-secondary);
}

button {
  border-radius: 10px;
  border: 0;
  padding: 0;
  padding: 16px;
  color: var(--background-primary);
  font-size: clamp(0.5625rem, 0.4417rem + 0.604vw, 1.125rem);
}

button:hover {
  cursor: pointer;
  filter: saturate(2);
}
