.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--background-secondary);
  opacity: 0.85;
}

.apresentation {
  height: 100vh;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  position: relative;
}

.content {
  max-width: 100%;
  padding: 18px;
  background-color: #f5f6ff;
  border-radius: 15px;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.h2 {
  transform: translateY(0.4rem);
}

.buttons {
  display: flex;
  margin-top: 1.375rem;
  gap: 1rem;
}

.btnPortfolio {
  background-color: var(--main-secondary);
}

.btnContato {
  background-color: var(--main-primary);
}

.img {
  padding: 18px;
}

@media (orientation: landscape) {
  .img {
    padding-right: 0;
  }

  .content {
    max-width: 55%;
  }

  .buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}

@media (orientation: portrait) {
  .apresentation {
    flex-direction: column-reverse;
  }

  .img {
    max-width: 100%;
  }

  .buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}
